---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="BetweenFrames - Blog">
    <main class="max-w-4xl mx-auto px-4">
        <div class="flex justify-between items-center mt-5">
            <h1
                class="font-[Gruppo] text-[39px] tracking-[.25rem] leading-[25px] transition-all hover:tracking-normal"
            >
                Blog
            </h1>
            <div class="flex items-end divide-x">
                <a href="/" class="font-[Homenaje] px-2 text-xl hover:underline border-secondary-foreground hover:bg-secondary-foreground transition-all cursor-pointer ease-out duration-700"
                    >home</a
                >
                <a
                    href="/projects"
                    class="font-[Homenaje] px-2 text-xl hover:underline border-secondary-foreground hover:bg-secondary-foreground transition-all cursor-pointer ease-out duration-700"
                    >projects</a
                >
            </div>
        </div>
        <p class="mt-10 text-zinc-300"></p>
        <div class="mt-7 divide-y border-foreground">
            {
                posts.map((post) => (
                    <div
                        class="flex flex-col p-2 border-secondary-foreground hover:bg-secondary-foreground transition-all cursor-pointer ease-out duration-700 select-none"
                        onclick={`location.href='/blog/${post.slug}'`}
                    >
                        <div class="font-[Homenaje] text-xl">
                            {post.data.title}
                        </div>
                        <div class="font-[Homenaje] text-lg text-zinc-300">
                            {post.data.description}
                        </div>
                        <p>
                            <span>|</span>
                            <span class="font-[Homenaje] text-zinc-400">
                                {post.data.date
                                    .toDateString()
                                    .split(" ")
                                    .slice(1)
                                    .join(" ")}
                            </span>
                        </p>
                    </div>
                ))
            }
        </div>
    </main>
</Layout>
