@import "tailwindcss";

@font-face {
  font-family: "PPSupplyMono";
  src: url("/fonts/ppsupplymono-regular.woff2") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPSupplyMono";
  src: url("/fonts/ppsupplymono-ultralight.woff2") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-background: #151515;
  --color-foreground: #c0beaf;
  --color-primary: #c0beaf;
  --color-muted: #2c2c2c;

  --font-supply-mono: "PPSupplyMono", sans-serif;
}

/* Custom text selection color */
::selection {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

::-moz-selection {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

.hr-dashed {
  border: none;
  height: 1px;
  background: repeating-linear-gradient(
    90deg,
    var(--color-muted),
    var(--color-muted) 4px,
    transparent 4px,
    transparent 10px
  );
}

.social-icons svg {
  fill: black;
}
