---
import type { CollectionEntry } from "astro:content";

import "@styles/fonts.css";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { getEnglishDate } from "@utils/date";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);

const publishedPosts: CollectionEntry<"posts">[] = await getCollection(
  "posts",
  ({ data }) => {
    return data.draft !== true && data.lang === "en";
  },
);

publishedPosts.sort((a, b) => {
  return new Date(b.data.pubDate) - new Date(a.data.pubDate);
});
---

<BaseLayout>
  <div class="col-span-6 divide-y *:py-6 first:*:pt-0 last:*:pb-0">
    {
      publishedPosts.map(async (post) => (
        <div class="space-y-4 border-secondary">
          <div class="space-y-2">
            <p class="text-sm text-zinc-400">
              {getEnglishDate(new Date(post.data.pubDate))}
            </p>
            <a
              href={getRelativeLocaleUrl(lang, `/blog/posts/${post.id}`)}
              class="inline-block cursor-pointer text-4xl font-black text-primary"
            >
              {post.data.title}
            </a>
          </div>
          <div class="space-y-2">
            <p>{post.data.description}</p>
            <a
              href={getRelativeLocaleUrl(lang, `/blog/posts/${post.id}`)}
              class="inline-block cursor-pointer px-0.5 text-primary underline underline-offset-2 hover:no-underline"
            >
              Keep Reading
            </a>
          </div>
        </div>
      ))
    }
  </div>
</BaseLayout>
