---
import "@styles/fonts.css";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { getEnglishDate } from "@utils/date";
const posts: CollectionEntry<"blog">[] = await getCollection(
  "blog",
  ({ data }) => data.lang === "en",
);
posts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
);
---

<BaseLayout>
  <div
    class="col-span-6 divide-y divide-stone-400/50 font-['Crimson_Pro'] text-stone-700 *:py-6 first:*:pt-0 last:*:pb-0"
  >
    {
      posts.map(async (post) => (
        <div class="space-y-4">
          <div class="space-y-2">
            <p class="text-lg">{getEnglishDate(new Date(post.data.pubDate))}</p>
            <a
              href={`/en/blog/${post.id}`}
              class="inline-block cursor-pointer text-5xl font-semibold leading-[1.2] tracking-tight"
            >
              {post.data.title}
            </a>
          </div>
          <div class="space-y-3">
            <p class="text-[1.2rem]">{post.data.description}</p>
            <a
              href={`/en/blog/${post.id}`}
              class="text-normal inline-flex items-center gap-2 rounded-lg bg-stone-100 px-3 py-1.5 transition-colors hover:bg-stone-200"
            >
              Read more <span>→</span>
            </a>
          </div>
        </div>
      ))
    }
  </div>
</BaseLayout>
