---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import massiveWorldImage from "../assets/images/massive-world.png";
---

<Layout title="BetweenFrames">
    <main class="min-h-screen gap-8 flex flex-col justify-between">
        <div class="px-8 pt-10">
            <h1
                class="text-center font-[Gruppo] text-5xl lg:text-[39px] leading-10 tracking-widest transition-all hover:tracking-normal"
            >
                Between Frames
            </h1>
            <div class="mt-10 font-[Homenaje] text-lg md:max-w-lg mx-auto">
                <h2>About me</h2>
                <div class="mt-4 space-y-3">
                    <p>
                        Hi, my name is Kenneth Quintero, and my favorite
                        activities are wondering, learning and doing,
                        particularly in that order.
                    </p>
                    <p>
                        I often find myself deeply intrigued by the 'why' and
                        'how' of most of the things that exist and happen in
                        this world, so you could say I'm driven by curiosity.
                    </p>
                </div>
                <div class="flex justify-center mt-7 divide-x">
                    <a
                        href="/projects"
                        class="hover:underline px-2 border-secondary-foreground hover:bg-secondary-foreground transition-all cursor-pointer ease-out duration-700"
                        >projects</a
                    >
                    <a
                        href="/blog"
                        class="hover:underline px-2 border-secondary-foreground hover:bg-secondary-foreground transition-all cursor-pointer ease-out duration-700"
                        >blog</a
                    >
                    <a
                        href="mailto:kennethgqv@gmail.com"
                        class="hover:underline px-2 border-secondary-foreground hover:bg-secondary-foreground transition-all cursor-pointer ease-out duration-700"
                        >email</a
                    >
                    <a
                        href="https://github.com/cin4ed"
                        class="hover:underline px-2 border-secondary-foreground hover:bg-secondary-foreground transition-all cursor-pointer ease-out duration-700"
                        >github</a
                    >
                </div>
            </div>
        </div>
        <Image
            src={massiveWorldImage}
            class="object-cover h-56 sm:h-72 md:h-auto"
            alt="A human on the edge of a space structure observes a giant ring rising above a massive planet below it."
        />
    </main>
</Layout>
