---
import "@styles/fonts.css";
import NBaseLayout from "@layouts/NBaseLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { getEnglishDate } from "lib/util";

const posts: CollectionEntry<"posts">[] = await getCollection("posts");
posts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);
---

<NBaseLayout>
  <div class="col-span-6 divide-y divide-stone-400/50 font-['Crimson_Pro'] text-stone-700 *:py-6 first:*:pt-0 last:*:pb-0">
    {
      posts.map(async (post) => (
        <div class="space-y-4">
          <div class="space-y-2">
            <p class="text-lg">
              {getEnglishDate(new Date(post.data.date))}
            </p>
            <a 
              href={`/posts/${post.slug}`}
              class="inline-block cursor-pointer text-5xl font-semibold tracking-tight leading-[1.2]"
            >
              {post.data.title}
            </a>
          </div>
          <div class="space-y-2">
            <p class="text-[1.2rem]">{post.data.description}</p>
            <a
              href={`/posts/${post.slug}`}
              class="inline-block cursor-pointer px-0.5 text-primary underline underline-offset-2 hover:no-underline"
            >
              Read more
            </a>
          </div>
        </div>
      ))
    }
  </div>
</NBaseLayout>
