---
import "@styles/fonts.css";
import BaseLayout from "@layouts/BaseLayout.astro";
import Post from "@components/Post.astro";
import Links from "@components/Links.astro";

import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";

const posts: CollectionEntry<"posts">[] = await getCollection("posts");
posts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<BaseLayout>
  <div class="col-span-6 divide-y *:py-6 first:*:pt-0 last:*:pb-0">
    {posts.map(async (post) => <Post post={post} />)}
  </div>
</BaseLayout>
