---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import workyScreenshot1 from "@assets/images/worky-screenshot-1.png";
---

<BaseLayout>
  <div class="space-y-4 font-['Crimson_Pro'] text-stone-700">
    <h1 class="text-5xl font-semibold leading-[1.2] tracking-tight">
      Projects
    </h1>
    <p class="text-[1.2rem]">
      Here you can find some of the projects I've been working on. I'll be
      updating this page as I finish new projects.
    </p>
    <div class="grid gap-6 sm:grid-cols-2">
      <a href="/projects/worky" class="block h-full">
        <div
          class="flex h-full flex-col space-y-3 rounded-lg border border-stone-200 p-4 transition-all duration-300 hover:border-stone-300 hover:bg-stone-50"
        >
          <Image src={workyScreenshot1} alt="Worky Screenshot" class="w-full h-full object-cover rounded-lg" />
          <h2 class="text-[2rem] font-semibold">Worky</h2>
          <p class="flex-grow text-[1.2rem]">
            Worky is a macOS app that lets you create file groups and bring them
            to your desktop whenever you need them.
          </p>
        </div>
      </a>
      <a href="/projects/roamr" class="block h-full">
        <div
          class="flex h-full flex-col space-y-3 rounded-lg border border-stone-200 p-4 transition-all duration-300 hover:border-stone-300 hover:bg-stone-50"
        >
          <div class="h-40 rounded-md bg-stone-100"></div>
          <h2 class="text-[2rem] font-semibold">Roamr</h2>
          <p class="flex-grow text-[1.2rem]">
            Roamr is an urbex app that helps you find and share abandoned places
            around the world.
          </p>
        </div>
      </a>
    </div>
  </div>
</BaseLayout>
