---
import HamburgerButton from "@components/HamburgerButton.astro";
import MobileNavBar from "@components/MobileNavBar.astro";
---

<header
  class="border-opactiy-80 sticky top-0 z-10 border-b border-secondary bg-background px-4 md:static md:border-none"
>
  <div class="flex items-center justify-between py-3 md:block">
    <h1
      class="font-[Gruppo] text-3xl tracking-widest text-primary md:text-center"
    >
      Between Frames
    </h1>
    <HamburgerButton />
  </div>
  <MobileNavBar />
</header>
