---
import "@styles/fonts.css";
---

<div class="flex flex-col gap-4 pb-3 font-[Homenaje] text-lg text-primary">
  <div class="flex flex-col divide-y *:py-1">
    <span class="border-secondary bg-secondary px-2">Navigation</span>
    <a
      href="/"
      class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
    >
      Home
    </a>
    <a
      href="/about"
      class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
    >
      About Me
    </a>
    <a
      href="/projects"
      class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
    >
      Projects
    </a>
  </div>
  <div class="flex flex-col divide-y *:py-1">
    <span class="border-secondary bg-secondary px-2">Contact</span>
    <a
      href="https://x.com/cin4ed"
      class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
    >
      X
    </a>
    <a
      href="https://github.com/cin4ed"
      class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
    >
      Github
    </a>
    <a
      href="https://www.linkedin.com/in/kenneth-quintero-1971a12a8/"
      class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
    >
      Linkedin
    </a>
    <a
      href="mailto:kennethgqv@gmail.com"
      class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
    >
      Email
    </a>
  </div>
</div>
