---
import "@styles/fonts.css";
---

<div class="flex font-[Homenaje] gap-4 pb-3 text-primary text-lg flex-col">
  <div class="divide-y flex flex-col *:py-1">
    <span class="px-2 border-secondary bg-secondary">Navigation</span>
    <a
      href="/"
      class="hover:underline px-2 border-secondary hover:bg-secondary transition-all cursor-pointer ease-out duration-700"
    >
      Home
    </a>
    <a
      href="/about"
      class="hover:underline px-2 border-secondary hover:bg-secondary transition-all cursor-pointer ease-out duration-700"
    >
      About Me
    </a>
    <a
      href="/projects"
      class="hover:underline px-2 border-secondary hover:bg-secondary transition-all cursor-pointer ease-out duration-700"
    >
      Projects
    </a>
  </div>
  <div class="divide-y flex flex-col *:py-1">
    <span class="px-2 border-secondary bg-secondary">Contact</span>
    <a
      href="https://x.com/cin4ed"
      class="hover:underline px-2 border-secondary hover:bg-secondary transition-all cursor-pointer ease-out duration-700"
    >
      X
    </a>
    <a
      href="https://github.com/cin4ed"
      class="hover:underline px-2 border-secondary hover:bg-secondary transition-all cursor-pointer ease-out duration-700"
    >
      Github
    </a>
    <a
      href="https://www.linkedin.com/in/kenneth-quintero-1971a12a8/"
      class="hover:underline px-2 border-secondary hover:bg-secondary transition-all cursor-pointer ease-out duration-700"
    >
      Linkedin
    </a>
    <a
      href="mailto:kennethgqv@gmail.com"
      class="hover:underline px-2 border-secondary hover:bg-secondary transition-all cursor-pointer ease-out duration-700"
    >
      Email
    </a>
  </div>
</div>
