---
import "@fontsource/homenaje";
---

<div
  class="flex justify-center divide-x font-[Homenaje] text-primary text-lg lg:flex-col lg:divide-x-0 lg:divide-y lg:*:py-1 lg:first:*:pt-0 lg:last:*:pb-0"
>
  <a
    href="#"
    class="hover:underline px-2 border-secondary hover:bg-secondary transition-all cursor-pointer ease-out duration-700 pointer-events-none text-zinc-700"
  >
    About Me
  </a>
  <a
    href="#"
    class="hover:underline px-2 border-secondary hover:bg-secondary transition-all cursor-pointer ease-out duration-700 pointer-events-none text-zinc-700"
  >
    Projects
  </a>
  <a
    href="#"
    class="hover:underline px-2 border-secondary hover:bg-secondary transition-all cursor-pointer ease-out duration-700"
  >
    Github
  </a>
  <a
    href="#"
    class="hover:underline px-2 border-secondary hover:bg-secondary transition-all cursor-pointer ease-out duration-700 pointer-events-none text-zinc-700"
  >
    Linkedin
  </a>
  <a
    href="mailto:kennethgqv@gmail.com"
    class="hover:underline px-2 border-secondary hover:bg-secondary transition-all cursor-pointer ease-out duration-700"
  >
    Email
  </a>
</div>
