---
import "@styles/fonts.css";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { languages } from "@i18n/ui";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex flex-col gap-4 pb-3 font-[Homenaje] text-lg text-primary">
  <div class="flex flex-col divide-y *:py-1">
    <span class="border-secondary bg-secondary px-2">{t("nav.navigation")}</span
    >
    <a
      href={getRelativeLocaleUrl(lang)}
      class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
    >
      {t("nav.home")}
    </a>
    <a
      href={getRelativeLocaleUrl(lang, "about")}
      class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
    >
      {t("nav.about")}
    </a>
    <a
      href={getRelativeLocaleUrl(lang, "projects")}
      class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
    >
      {t("nav.projects")}
    </a>
    <!-- <a
      href={getRelativeLocaleUrl(lang, "blog")}
      class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
    >
      {t("nav.blog")}
    </a> -->
    <a
      href={getRelativeLocaleUrl(lang, "rss.xml")}
      class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
    >
      RSS
    </a>
  </div>
  <div class="flex flex-col divide-y *:py-1">
    <span class="border-secondary bg-secondary px-2">{t("nav.contact")}</span>
    <a
      href="https://x.com/cin4ed"
      class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
    >
      X
    </a>
    <a
      href="https://github.com/cin4ed"
      class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
    >
      Github
    </a>
    <a
      href="https://www.linkedin.com/in/kenneth-quintero-1971a12a8/"
      class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
    >
      Linkedin
    </a>
    <a
      href="mailto:kennethgqv@gmail.com"
      class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
    >
      Email
    </a>
  </div>
  <div class="flex flex-col divide-y *:py-1">
    <span class="border-secondary bg-secondary px-2">{t("nav.languages")}</span>
    {
      Object.entries(languages).map(([lang, label]) => (
        <a
          href={getRelativeLocaleUrl(lang)}
          class="cursor-pointer border-secondary px-2 transition-all duration-700 ease-out hover:bg-secondary hover:underline"
        >
          {label}
        </a>
      ))
    }
  </div>
</div>
