---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content } = await render(post);

const date = new Date(post.data.date);
const spanishDate = date.toLocaleDateString("es-ES", {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<div class="post-content space-y-4 border-secondary">
  <div class="space-y-2">
    <p class="text-zinc-400 text-sm">{spanishDate}</p>
    <h1 class="text-4xl text-primary font-black">{post.data.title}</h1>
  </div>
  <p class="description">{post.data.description}</p>
  <Content />
</div>

<style is:global>
  .post-content > img {
    @apply w-full;
    @apply object-contain;
  }

  .post-content > h1 {
    @apply text-2xl;
    @apply font-bold;
  }

  .post-content > h2 {
    @apply text-xl;
    @apply font-semibold;
  }

  .post-content > p > a {
    @apply underline;
    @apply underline-offset-2;
    @apply text-primary;
    @apply px-0.5;
    @apply hover:no-underline;
  }

  .post-content > p > strong {
    @apply font-extrabold;
  }

  .post-content code {
    @apply text-foreground;
    @apply bg-[#3D331F];
    @apply px-2;
    @apply py-0.5;
    @apply rounded;
    @apply text-sm;
  }
</style>
