---
import BaseLayout from "@layouts/BaseLayout.astro";
import workyImage from "@assets/images/worky-400x400.png";
---

<BaseLayout>
  <div class="space-y-6 uppercase text-foreground">
    <section class="flex justify-between">
      <h1>Enfá</h1>
      <a
        href="/"
        class="font-extralight underline hover:bg-foreground hover:text-background"
        >home</a
      >
    </section>
    <section class="flex w-full flex-col items-center gap-3">
      <img alt="worky image" src={workyImage.src} />
      <p class="font-extralight">Food delivery for my town</p>
    </section>
    <div class="mt-2 space-x-1 font-extralight">
      <a
        href="/"
        class="font-extralight underline hover:bg-foreground hover:text-background"
        >Visit website</a
      >
    </div>
    <section>
      <h2>About</h2>
      <p class="mt-2 font-extralight">
        Enfá is a food delivery app for my town. It allows you to order food
        from local restaurants and have it delivered to your door.
      </p>
    </section>
    <section>
      <h2>Nerd Notes</h2>
      <p class="mt-2 font-extralight">
        Enfá comes from "En fá" which means "to make it fast", it´s
        spanish-english slang that has something to do with the word "fast", any
        way. I built this app because I was tired of my mom sending me to get
        her ceviche from the local restaurant, and also because my town is too
        small that major delivery apps wouldn't cover it.
      </p>
    </section>
  </div>
</BaseLayout>
