---
import Layout from "@layouts/Layout.astro";
import { Picture } from "astro:assets";
import projectImage from "@assets/images/enfa-project-image.png";
---

<Layout>
  <div class="text-foreground space-y-6 uppercase">
    <section class="flex justify-between">
      <h1>Enfá</h1>
      <a
        href="/"
        class="hover:bg-foreground hover:text-background font-extralight underline"
        >home</a
      >
    </section>
    <section class="flex w-full flex-col items-center gap-3">
      <Picture
        class="h-100 w-100"
        alt="Enfá project image"
        src={projectImage}
        formats={["avif"]}
        width={800}
        height={800}
      />
      <p class="font-extralight">Food delivery for my town</p>
    </section>
    <div class="mt-2 space-x-1 font-extralight">
      <a
        href="/"
        class="hover:bg-foreground hover:text-background font-extralight underline"
        >Visit website</a
      >
    </div>
    <section>
      <h2>About</h2>
      <p class="mt-2 font-extralight">
        Enfá is a food delivery app I made for my town. It allows you to order
        food from local restaurants and have it delivered to your door.
      </p>
    </section>
    <section>
      <h2>Nerd Notes</h2>
      <p class="mt-2 font-extralight">
        Enfá comes from "En fá" which means "to make it fast", it´s
        spanish-english slang that has something to do with the word "fast", any
        way. I built this app because I was tired of my mom sending me to get
        her ceviche from the local restaurant, and also because my town is too
        small that major delivery apps wouldn't cover it.
      </p>
    </section>
  </div>
</Layout>
