---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="space-y-3">
    <h1 class="text-primary text-4xl font-black">Projects</h1>
    <p>
      Here you can find some of the projects I've been working on. I'll be
      updating this page as I finish new projects.
    </p>
    <div class="grid md:grid-cols-2 gap-4">
      <a href="/projects/worky" class="block">
        <div
          class="space-y-3 hover:bg-zinc-900 transition-all duration-300 py-4 md:p-4"
        >
          <div class="bg-secondary h-40"></div>
          <h2 class="text-primary text-2xl font-black">Worky</h2>
          <p>
            Worky is a macOS app that lets you create file groups and bring them
            to your desktop whenever you need them.
          </p>
        </div>
      </a>
      <a href="/projects/roamr" class="block">
        <div
          class="space-y-3 hover:bg-zinc-900 transition-all duration-300 py-4 md:p-4"
        >
          <div class="bg-secondary h-40"></div>
          <h2 class="text-primary text-2xl font-black">Roamr</h2>
          <p>
            Roamr is an urbex app that helps you find and share abandoned places
            around the world.
          </p>
        </div>
      </a>
    </div>
  </div>
</BaseLayout>
