---
import BaseLayout from "@layouts/BaseLayout.astro";
import workyImage from "@assets/images/worky-400x400.png";
---

<BaseLayout>
  <div class="space-y-6 uppercase text-foreground">
    <section class="flex justify-between">
      <h1>Worky</h1>
      <a
        href="/"
        class="font-extralight underline hover:bg-foreground hover:text-background"
        >go home</a
      >
    </section>
    <section class="flex w-full flex-col items-center gap-3">
      <img alt="worky image" src={workyImage.src} />
      <p class="font-extralight">Mac os desktop organizer</p>
    </section>
    <section>
      <h2>About</h2>
      <p class="mt-2 font-extralight">
        Worky is a macOS menu bar tool that keeps your desktop organized and
        clutter-free. It lets you create workspaces (groups of related files)
        and switch between them as needed. And when you want a distraction-free
        environment, Worky clears your desktop and safely stores everything for
        quick access later.
      </p>
    </section>
    <section>
      <h2>Links</h2>
      <div class="mt-2 font-extralight">
        <a
          href="/"
          class="font-extralight underline hover:bg-foreground hover:text-background"
          >Visit website</a
        >
        <a
          href="https://www.producthunt.com/p/worky/worky"
          target="_blank"
          rel="noopener noreferrer"
          class="font-extralight underline hover:bg-foreground hover:text-background"
          >View on producthunt</a
        >
      </div>
    </section>
  </div>
</BaseLayout>
