---
interface Props {
  caption?: string;
}
const { caption } = Astro.props;
---

<figure class="diagram">
  <span class="pin"></span>
  <slot />
  {caption && <figcaption>{caption}</figcaption>}
</figure>
