---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="space-y-3">
    <h1 class="text-4xl font-black text-primary">Proyectos</h1>
    <p>
      Aquí puedes encontrar algunos de los proyectos en los que he estado
      trabajando. Iré actualizando esta página a medida que termine nuevos
      proyectos.
    </p>
    <div class="grid gap-4 md:grid-cols-2">
      <a href="/projects/worky" class="block">
        <div
          class="space-y-3 py-4 transition-all duration-300 hover:bg-zinc-900 md:p-4"
        >
          <div class="h-40 bg-secondary"></div>
          <h2 class="text-2xl font-black text-primary">Worky</h2>
          <p>
            Worky es una aplicación para macOS que te permite crear grupos de
            archivos y llevarlos a tu escritorio cuando los necesites.
          </p>
        </div>
      </a>
      <a href="/projects/roamr" class="block">
        <div
          class="space-y-3 py-4 transition-all duration-300 hover:bg-zinc-900 md:p-4"
        >
          <div class="h-40 bg-secondary"></div>
          <h2 class="text-2xl font-black text-primary">Roamr</h2>
          <p>
            Roamr es una aplicación de exploración urbana (urbex) que te ayuda a
            encontrar y compartir lugares abandonados alrededor del mundo.
          </p>
        </div>
      </a>
    </div>
  </div>
</BaseLayout>
