---
import "@styles/global.css";
import Posthog from "@components/posthog.astro";
---

<!doctype html>
<html lang="en" class="antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>BetweenFrames</title>
    <Posthog />
  </head>
  <body class="min-h-screen">
    <nav
      class="fixed top-0 z-10 w-full border-b border-secondary/10 bg-white/5 backdrop-blur-md"
    >
      <div
        class="mx-auto flex max-w-2xl flex-col items-center gap-2 px-4 py-2 sm:flex-row sm:justify-between"
      >
        <a
          href="/"
          class="tracking font-['Crimson_Pro'] text-xl font-light sm:text-2xl"
        >
          BetweenFrames
        </a>
      </div>
    </nav>
    <main class="mx-auto max-w-2xl px-4 pt-14 sm:pt-16">
      <slot />
    </main>
    <footer class="mx-auto max-w-2xl px-4 py-24 sm:pt-16">
      <p class="text-center font-['Crimson_Pro'] text-sm text-stone-700">
        &copy; {new Date().getFullYear()} Kenneth Quintero. All rights reserved.
      </p>
    </footer>
  </body>
</html>
