---
interface Props {
    title: string;
    frontmatter: {
        title: string;
        date: string;
    };
}

const { title, frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-[#111] text-[#eee] antialiased">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="p-4">
        <main class="max-w-3xl">
            <h1 class="text-4xl font-bold">{frontmatter.title}</h1>
            <p class="text-sm text-[#999999] mt-1">
                {frontmatter.date}
            </p>
            <div class="mt-5 font-extralight space-y-4">
                <slot />
            </div>
        </main>
    </body>
</html>

<style is:global>
    img {
        @apply w-full;
        @apply object-contain;
    }
</style>
