---
import { getEnglishDate, getSpanishDate } from "@utils/date";

const { postData } = Astro.props;

const { title, pubDate } = postData;

const parsedDate =
  postData.lang === "en"
    ? getEnglishDate(new Date(pubDate))
    : getSpanishDate(new Date(pubDate));
---

<div class="post space-y-4">
  <div class="space-y-2">
    <p class="text-sm text-zinc-400">{parsedDate}</p>
    <h1 class="text-4xl font-black text-primary">{title}</h1>
  </div>
  <div class="post__content space-y-4">
    <slot />
  </div>
</div>

<style is:global>
  .post__content > img {
    @apply w-full;
    @apply object-contain;
  }

  .post__content > h1 {
    @apply text-2xl;
    @apply font-bold;
  }

  .post__content > h2 {
    @apply text-xl;
    @apply font-semibold;
  }

  .post__content > p > a {
    @apply underline;
    @apply underline-offset-2;
    @apply text-primary;
    @apply px-0.5;
    @apply hover:no-underline;
  }

  .post__content > p > strong {
    @apply font-extrabold;
  }

  .post__content code {
    @apply text-foreground;
    @apply bg-[#3D331F];
    @apply px-2;
    @apply py-0.5;
    @apply rounded;
    @apply text-sm;
  }
</style>
