---
import "@fontsource/gruppo";
import "@fontsource/homenaje";
import "@fontsource/inter/200.css";
import "@fontsource/inter/400.css";

// interface Props {
//   title: string;
//   frontmatter: {
//     title: string;
//     date: string;
//   };
// }

const { title, frontmatter } = Astro.props;
const date = new Date(frontmatter.date);
const spanishDate = date.toLocaleDateString("es-ES", {
  weekday: "long", // Nombre del día (lunes, martes, etc.)
  year: "numeric", // Año en formato numérico
  month: "long", // Nombre del mes completo (enero, febrero, etc.)
  day: "numeric", // Día del mes
});
---

<!doctype html>
<html lang="en" class="bg-background text-[#eee] antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="p-4">
    <main class="max-w-3xl mx-auto">
      <div class="flex justify-end divide-x">
        <a href="/" class="main-link">home</a>
        <a href="/projects" class="main-link">projects</a>
        <a href="/blog" class="main-link">blog</a>
      </div>
      <h1 id="title">{frontmatter.title}</h1>
      <p id="date">{spanishDate}</p>
      <div
        class="mt-3 py-3 font-extralight sm:font-light space-y-4 border-y border-secondary-foreground relative"
      >
        <slot />
      </div>
    </main>
    <footer
      class="font-[Inter] font-thin text-foreground text-sm text-center py-4"
    >
      betweenframes
    </footer>
  </body>
</html>

<style is:global>
  #title {
    @apply mt-4;
    @apply text-4xl;
    @apply font-[Gruppo];
    @apply text-foreground;
  }
  #date {
    @apply text-zinc-200;
    @apply mt-2;
    @apply text-sm;
  }
  .main-link {
    @apply font-[Homenaje];
    @apply text-foreground;
    @apply px-2 text-xl;
    @apply hover:underline;
    @apply border-secondary-foreground;
    @apply hover:bg-secondary-foreground;
    @apply transition-all;
    @apply cursor-pointer;
    @apply ease-out;
    @apply duration-700;
  }
  img {
    @apply w-full;
    @apply object-contain;
  }
  .introduction {
    @apply font-[Inter];
    @apply bg-secondary-foreground;
    @apply p-4;
  }

  h1 {
    @apply font-[Gruppo];
    @apply text-2xl;
    @apply text-foreground;
  }

  h2 {
    @apply font-[Gruppo];
    @apply text-xl;
    @apply text-foreground;
  }

  p {
    @apply font-[Inter];
    @apply font-thin;
  }
  a {
    @apply underline;
    @apply underline-offset-2;
    @apply text-foreground;
    @apply px-0.5;
    @apply hover:no-underline;
  }
  code {
    /* @apply bg-zinc-700; */
    @apply text-foreground;
    @apply bg-[#3D331F];
    @apply px-2;
    @apply py-0.5;
    @apply rounded;
    @apply text-sm;
  }
</style>
